*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {background: linear-gradient(to bottom, white, lightgrey);}

.navbar{background:linear-gradient(to left,blue, white);
    height: 80px;
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;}

.logo{
    width: 90px;
    cursor: pointer;
    height: 80px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    }

    .navbar ul li::after{
        content:"";
        height: 3px;
        width: 0;
        background: orange;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover::after{
        width: 100%;
    }

    .hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;}


  @media (max-width: 768px) {
  .nav-links {
    display: none;    
    flex-direction: column;
    background-color:blue;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    text-align: right;
    padding: 10px;
    
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
    }

        .image-block img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    .textblock {
        text-align: center;
        padding: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        height: auto;
    }
    .textblock h1 {
        font-size: 40px;
        text-align:center;
        color: blue;
    }
    .textblock h2{
        font-size: 30px;
        color: orange;
    }
    .textblock p{
        word-spacing: 2px;
        line-height: 1.8;
    }
    .textblock button{
        word-spacing: 2px;
        line-height: 1.8;
        font-size: 15px;
        background-color: orange;
        text-decoration: none;
        color: black;
        margin-top: 10px;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color, color 0.3s ease-in-out; 
          
    }
.dropbtn {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: blue;
    border: none;
    font-family: sans-serif;
    cursor: pointer;

       
    }

   


.dropdown-content {
      display: none;
      position: absolute;   
      background-color:blue;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 5px;
      
    }
@media (max-width: 768px) {
    .dropdown{
        position: relative
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        right: 0; /* align to right of button */
        left: auto;
        min-width: max-content;
        max-width: 90vw; /* prevents it from going beyond screen width */
        background-color: blue;
        z-index: 1;
        overflow-wrap: break-word;
    }
}
 
   .digital-img {
      opacity: 0;
      animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.email-img {
  transition: transform 1s ease;
}

.email-img:hover {
  transform: scale(1.1);
}


.seo-img {
  transform: translateX(-100%);
  animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

.social-img {
  transition: transform 0.5s ease;
}

.social-img:hover {
  transform: rotate(10deg);
}


.design-img {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeZoom 1.5s ease-out forwards;
}

@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.maintain-img {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeZoom 1.5s ease-out forwards;
}

@keyframes fadeZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

    /* Dropdown items */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;      
      display: block;
      border-bottom: 1px solid #eee;
      
    }

    .dropdown-content a:last-child {
      border-bottom: 1px solid #eee;
    }

    .dropdown-content a:hover {
      background-color: orange;
    }

    /* Show the dropdown on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      
    }

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
    
    .textblock button:hover{
        background-color: blue;
        color: white;
    }
    .textblock button {cursor: pointer;}

    .grid-container button{
         word-spacing: 2px;
        line-height: 1.8;
        font-size: 15px;
        background-color: orange;
        text-decoration: none;
        color: black;
        margin-top: 10px;
        border: none;
        padding: 3px;
        border-radius: 4px;
        transition: background-color, color 0.3s ease-in-out;
    }

    .grid-container button:hover{
        background-color: blue;
        color: white;
    }
    .grid-container button{cursor: pointer;}




    @media (max-width: 768px) {
        .container{
            grid-template-columns: 1fr;
            text-align: center;
        }}
        .content{
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            color: orange;
        }
        .grid-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: 0px;
            max-width: 1000px;
            margin: 50px auto;
            
        }
        /*.grid-container .grid-item {
            padding: 20px;
            text-align: center;
            font-size: 18px;
            border: 1px solid #133;
            border-radius: 0px;
            
        }*/
        
        .grid-container .grid-item1{
            background-color: orange;
            text-align: center;
            padding: 20px;
            color: blue;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }
        .grid-container .grid-item2{
            background-color: blue;
            text-align: center;
            padding: 20px;
            color:orange;
        }
        .grid-container .grid-item3{
            background-color: orange;
            text-align: center;
            padding: 20px;
            color: blue;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }        
        
        .grid-container .grid-item4{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }
        .grid-container .grid-item5{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }
        .grid-container .grid-item6{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
            border-right: 1px solid #133;
        }
        .grid-container .grid-item7{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }
        .grid-container .grid-item8{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
        }
        .grid-container .grid-item9{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
            border-right: 1px solid #133;
        }
        .grid-container .grid-item10{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
            border-bottom: 1px solid #133;
        }
        .grid-container .grid-item11{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
            border-bottom: 1px solid #133;
        }
        .grid-container .grid-item12{            
            text-align: center;
            padding: 20px;
            color: black;
            border-left: 1px solid #133;
            border-top: 1px solid #133;
            border-right: 1px solid #133;
            border-bottom: 1px solid #133;
        }
              

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
             

        .container{
            max-width: 1200px;
            
            margin:auto
        }


        ul{
            list-style: none;
        }
        .row{
            display: flex;
            flex-wrap: wrap;        
           }


        .footer{
            background-color: blue;
            padding: 40px 0;

        }
        .footer-col{
            width: 300px;
            padding: 0 15px;
            
        }
        .footer-col h4{
            font-size: 18px;
            color: white;
            text-transform: capitalize;
            margin-bottom: 30px;
            font-weight: 500;
            position: relative;

        }
       .footer-col p {
        color: white;
       }
        .footer-col h4::before{content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
        }
        .footer-col ul li:not(:last-child){
            margin-bottom: 5px
        }
        .footer-col ul li a{
            font-size: 16px;
            text-transform: capitalize;
            color: white;
            text-decoration: none;
            font-weight: 300;
            transition: all 0.3s ease;
        }
        .footer-col ul li a:hover{
            color: orange;
            padding-left: 10px
        }
        .footer-col .social-links a{
            display: inline-block;
            height: 20px;
            width: 20px;
            background-color: rgba(255,255,255,0.2);
            margin: 0 5px 5px 0;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;            
        }
        .footer-col .social-links a:hover{
            color: #24262b;
            background-color: #ffffff;
        }

        @media  (max-width: 767px){
            .footer-col {
                width: 50%;
                margin-bottom: 30px

            }
        }
        @media(max-width: 574px){
            .footer-col {
                width: 100%
            }
        }           
      
       
        .copyright {
            text-align: center;
            padding: 10px;
            background: orange;
            color: black;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            footer {
                grid-template-columns: 1flr;
            }     
        }
            .social-icons {
                text-align: center;
            }

            @media (max-width: 768px) {
            .container {
            padding: 10px;
                       }
        }
        @media (max-width: 768px) {
            .nav-links {
            width: 100%;
                       }
        }





            








